/build/**
!/build/**/

venv/
.idea
tests/sources
*.7z
.cproject
.project
.settings/
updateBin.bat
update_usr_lib.sh
CMakeSettings.json
.vs
#res
TODO

#!build/hexter
#!build/hexter.sha256

#!build/64/hexter.exe
#!build/64/hexter.sha256
#!build/32/hexter.exe
#!build/32/hexter.sha256

*.vcxproj.user